{:paths ["scripts"]
 :tasks
 {:requires ([robocode] [codesize] [battle] [install])

  robocode {:doc "Launch Robocode"
            :task (robocode/launch! nil)}

  build {:doc "Compile bots (delegates to Gradle)"
         :task (babashka.process/shell
                {:extra-env {"JAVA_HOME" "/Library/Java/JavaVirtualMachines/graalvm-23.jdk/Contents/Home"}}
                "./gradlew" "build")}

  codesize {:doc "Check codesize of a bot: bb codesize pez.mini.Pugilist"
            :task (codesize/check! {:bot (first *command-line-args*)})}

  battle {:doc "Run headless battles: bb battle pez.mini.Pugilist [rounds]"
          :task (battle/battle! {:bot (first *command-line-args*)
                                 :rounds (parse-long (or (second *command-line-args*) "35"))})}

  install {:doc "Install a bot from RoboRumble participants: bb install voidious.mini.Komarious (or --all)"
           :task (install/install! {:bot (when-not (= "--all" (first *command-line-args*))
                                          (first *command-line-args*))
                                    :all (= "--all" (first *command-line-args*))})}}}
