{:paths ["scripts"]
 :tasks
 {:requires ([robocode] [codesize] [battle] [install] [benchmark] [publish])

  robocode {:doc "Launch Robocode"
            :task (robocode/launch! nil)}

  build {:doc "Compile bots (delegates to Gradle)"
         :task (babashka.process/shell
                {:extra-env {"JAVA_HOME" "/Users/pez/.sdkman/candidates/java/17.0.17-tem"}}
                "./gradlew" "build")}

  codesize {:doc "Check codesize of a bot: bb codesize pez.mini.Pugilist"
            :task (codesize/check! {:bot (first *command-line-args*)})}

  battle {:doc "Run headless battles: bb battle pez.mini.Pugilist [rounds] [opponent1 opponent2 ...]"
          :task (let [[bot rounds & opponents] *command-line-args*]
                  (battle/battle! {:bot bot
                                   :rounds (parse-long (or rounds "35"))
                                   :opponents (when (seq opponents) opponents)}))}

  install {:doc "Install a bot from RoboRumble participants: bb install voidious.mini.Komarious (or --all)"
           :task (install/install! {:bot (when-not (= "--all" (first *command-line-args*))
                                          (first *command-line-args*))
                                      :all (= "--all" (first *command-line-args*))})}

    benchmark {:doc "Run benchmark: bb benchmark pez.mini.Pugilist [rounds] [commit]"
               :task (benchmark/benchmark! {:bot (first *command-line-args*)
                                            :rounds (parse-long (or (second *command-line-args*) "100"))
                                            :commit (nth *command-line-args* 2 nil)})}

  publish {:doc "Build and deploy to Netlify: bb publish [version]"
           :task (publish/publish! {:version (first *command-line-args*)})}

  roborumble {:doc "Run the RoboRumble client"
              :task (robocode/roborumble! nil)}}}
