#{"pez.micro.Aristocles_0.3.8.jar"
  "pez.micro.Aristocles_0.3.9.jar"
  "pez.micro.Jackson_1.0.0.jar"
  "pez.mini.Pugilist_2.5.10.jar"
  "pez.mini.Pugilist_2.5.11.jar"
  "pez.mini.Pugilist_2.5.4.jar"
  "pez.mini.Pugilist_2.5.5.jar"
  "pez.mini.Pugilist_2.5.6.jar"
  "pez.mini.Pugilist_2.5.7.jar"
  "pez.mini.Pugilist_2.5.8.jar"
  "pez.mini.Pugilist_2.5.9.jar"
  "pez.mini2.Pugilist_2.5.12.jar"
  "pez.mini2.Pugilist_2.5.13.jar"
  "pez.mini2.Pugilist_2.5.14.jar"
  "pez.mini2.Pugilist_2.5.15.jar"
  "pez.rumble.CassiusClayM_2rho.02mk2.jar"
  "pez.rumble.CassiusClayT_2rho.02mk2.jar"
  "pez.rumble.CassiusClay_2rho.02no.jar"}
